# Data configuration
data:
  train_sharp: data/gopro/train/sharp
  train_blurred: data/gopro/train/blurred
  test_sharp: data/gopro/test/sharp
  test_blurred: data/gopro/test/blurred

  image_size: 512
  batch_size: 8
  num_workers: 6

# Training
training:
  num_epochs: 100
  learning_rate: 0.0001
  patience: 20
  save_dir: checkpoints
  log_dir: runs

